<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/styleForMain.css" type="text/css">
</head>
<body>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="login_label" id="text">{{ form.text.label }}</div>
        <div class="login_area_div">{{ form.text(class="login_area", id="text1") }}</div>
        {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.type() }}

        <h2>Кому письмо отправиться:</h2>
        {% for email in emails %}
            <p>{{ email.email }}</p>
        {% endfor %}
        <a href="/add">
            Добавить получателя
        </a>

        <div id="login_button">{{ form.submit(type="submit", class="btn btn-primary", id='button_loginIN') }}</div>
        <div>{{ message }}</div>
    </form>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script>
        $('#type-0').change(function(){
            $('#text1').val(' ');
        });
        $('#type-1').change(function(){
            $('#text1').val($.trim(`
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        ` + $('#text1').val() + `
    </body>
</html>`))});
    </script>
</body>
</html>